/*
	Sea foam: #87c3b9
	Dark sea foam: #3e7c72
	Light gray: #eeeeee
	Dark gray: #686868
	Mauve: #c3878c
  Background dark: #282c34
  Blue: #00A3C2
  Yellow: #F6BC20
*/

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.portfolio-carousel {
  height: 100%;
}
.portfolio-carousel-item {
  width: 75%;
  overflow: hidden;
  align-items: center;
}

.carousel-control-next,
.carousel-control-prev
{
  filter: invert(100%);
}

/* .carousel-indicators li {
  opacity: 0;
} */

.Design {
  background-color: #eeeeee;
  color: #686868;
  padding: 24px 10px 10px 10px;
  align-items: center;
  text-align: center;
}

/* .react-pdf__Page {
  display: inline-block;
  position: relative;
}

.react-pdf__Page__textContent {display: none;}

.page-switcher {
  display: inline;
}

.page-number{
  color: #3e7c72;
}

.page-switcher-section {
  padding-bottom: 16px;
}

button {
  margin-left: 12px;
  margin-right: 12px;
  border: none;
  color: #3e7c72;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
} */
