/*
	Sea foam: #87c3b9
	Dark sea foam: #3e7c72
	Light gray: #eeeeee
	Dark gray: #686868
	Mauve: #c3878c
  Background dark: #282c34
*/

.Design {
  background-color: #eeeeee;
  color: #87c3b9;
  padding-bottom: 36px;
}

.Design-body {
  align-items: center;
  text-align: center;
}

.Design-polaroid {
  width: 50vmin;
  /* height: 40vmin; */
  margin: 2vw;
}
