/*
	Sea foam: #87c3b9
	Dark sea foam: #3e7c72
	Light gray: #eeeeee
	Dark gray: #686868 (104,104,104)
	Mauve: #c3878c
  Background dark: #282c34 (40,44,52)
*/

.Navbar {
  background-color: #282c34;
  background-color: rgba(104,104,104,0.8);
  border: none;
  margin: 0;
}

.Navbar-header {
  color: #eeeeee !important;
  font-size: calc(12px + 2vmin) !important;
}

.Navbar-item {
  color: #eeeeee;
  font-size: calc(6px + 2vmin);
  margin: 5px 14px 0 14px;
}

.Navbar-item:active, .Navbar-item:hover {
  color: #87c3b9;
  text-decoration: none;
}

.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.Nav-container {
  padding: 0 !important;
  margin: 0 auto !important;
}
