.mayfest-col-2 {
  padding-top: 72px;
}

.mayfest-sketch {
  padding: 16px;
}

.dillo-logo {
  padding: 10%;
  margin-bottom: 24px;
}

.mayfest-col-four-2 {
  padding-top: 72px;
}
.mayfest-col-four-3 {
  padding-top: 144px;
}
.mayfest-col-four-4 {
  padding-top: 144px;
}
