/*
	Sea foam: #87c3b9
	Dark sea foam: #3e7c72
	Light gray: #eeeeee
	Dark gray: #686868
	Mauve: #c3878c
  Background dark: #282c34
  Blue: #00A3C2
  Yellow: #F6BC20
*/

.Developer {
  background-color: #87c3b9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px 10px 40px;
}

.developer-description {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
