/*
	Sea foam: #87c3b9
	Dark sea foam: #3e7c72
	Light gray: #eeeeee
	Dark gray: #686868
	Mauve: #c3878c
  Background dark: #282c34
*/

.detailHeader {
  width: 100%;
}

.detailHeaderLeft {
  text-align: left;
}

.detailName {
  color: #87c3b9;
  font-size: calc(32px + 2vmin);
  margin-bottom: 8px;
}

.detailRole, .detailDate {
  font-size: calc(6px + 1vmin);
  color: #686868;
  margin-left: 6px;
}

.detailTagline {
  color: #87c3b9;
  font-size: calc(12px + 2vmin);
  margin: 0 auto;
  padding: 48px 14% 24px 14%;
}
